<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        table, th, td {
          border:1px solid black;
        }
        h1 {text-align: center;}
        
        td {text-align: center;}
        th,td {
            border-style: double;
        }
        body {background-color: powderblue;}
        </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DATABASE</title>
    <link rel="icon" href="https://img.myloview.com/posters/rupee-symbol-icon-vector-currency-sign-for-business-and-finance-in-a-flat-color-glyph-pictogram-illustration-700-254428901.jpg" type="image/icon type">
</head>
<body>
     
        
         <h1> FINANCE DATA TABLE </h1>
        
            
            <table style="width:100%">
                
                <tr>
                    <th>ID</th>
                    <th>NAME</th>
                    <th>PRINCIPAL_AMOUNT</th>
                    <th>INTREST_RATE</th>
                    <th>GIVEN_INTREST</th>
                    <th>GIVEN_PRINCIPAL</th>
                    <th>PENDING_INTREST</th>
                    <th>BALANCE_PRINCIPAL_AMOUNT</th>
                    <th>CASE_NO</th>
                    <th>CASE_TYPE</th>
                    <th>CASE_LINK</th>
                    <th>PERSON_PHOTO</th>
                    <th>PIC_PROMISSORY_NOTE</th>
                    <th>PIC_ID_PROOF</th>
                    <th>PIC_CHEQUE</th>
                </tr>
                {% for data in datas %}
                <tr>
                    
                    <td>{{data.id}}</td>
                    <td>{{data.Name}}</td>
                    <td>{{ data.Principal_Amount }}</td>
                    <td>{{ data.Intrest_Rate }}</td>
                    <td>{{ data.Given_Intrest }}</td>
                    <td>{{ data.Given_Principle }}</td>
                    <td>{{ data.Pending_Intrest }}</td>
                    <td>{{ data.Balance_Principle_Amount }}</td>
                    <td>{{ data.Case_N0}}</td>
                    <td> {{ data.Case_Type }}</td>
                    <td><a href="{{data.Case_link}}">Case_link </a></td>
                     <td><div class="destination_Person_Photo">
                        <img src = "{{data.Person_Photo.url}}" alt="" width= "100" height="150">
                            
                    </div></td>
                    <td><div class="destination_Pic_promissory_note">
                        <img src = "{{data.Pic_promissory_note.url}}" alt="" width= "100" height="150">
                            
                    </div>
                    </td>
                    <td><div class="destination_Pic_Id_Proof">
                        <img src = "{{data.Pic_Id_Proof.url}}" alt="" width= "100" height="150">
                            
                    </div>
                    </td>
                    <td><div class="destination_PIC_CHEQUE">
                        <img src = "{{data.pic_Cheque.url}}" alt="" width= "100" height="150"> 
                            
                    </div>
                    </td>
                    


                    
                </tr>
                {% endfor %}
            
            </table> 
            
                
        
        
    
        
</body>
</html>

    
        
